<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{email_subject}}</title>
</head>
<body>
    <center>
        <header>
            <h3 class="text-center p-5">{{site.title}}</h3>
        </header>
        <main>
            <p>{{message}}</p>
            <h4>Reset your account password by clicking change password button</h4>
            <a href="{{absolute_url}}" style="border-radius: 2px;padding: 10px; background-color: #ba0101; color: white;" target="_blank">Reset Password</a>
        </main>
        <footer>
            <p class="text-center">{{footer_text}}</p>
        </footer>
    </center>
</body>
</html>