{% load static %}
<div class="card">
    <div class="d-flex justify-content-center">
        <img
            src="{% static 'favicon.ico' %}"
            class="card-img-top"
            alt="Icon"
            style="height: 100px; width: 100px"
        />
    </div>
    <div class="card-body">
        <h5 class="card-title">
            {{env.PROJECT_TITLE}}
            <span class="badge text-bg-primary">{{env.CURRENT_VERSION}}</span>
        </h5>
        <p class="card-text">
            {{env.COMPANY_NAME}} - {{env.SUPPORT_EMAIL}}
        </p>
        <a href="{{env.PUBLIC_DOMAIN}}" class="btn btn-primary btn-sm mb-2" target='_blank'>Public Site</a>
        <ul class="list-group">
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">DEBUG MODE</div>
                    Disable before entering production mode.
                </div>
                <span class="badge {% if not env.DEBUG_VALUE == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-pill">{% if not env.DEBUG_VALUE == 'True' %}OFF{% else %}ON{% endif %}</span>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">ENVIRONMENT</div>
                    <small>Improved performance on the prod environment.</small>
                </div>
                <span class="badge {% if env.ENV_NAME == 'prod' %}bg-success{% else %}bg-danger{% endif %} rounded-pill">{{env.ENV_NAME}}</span>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">LOGGER</div>
                    It will write logs on <code>logs/app.log</code>.
                </div>
                <span class="badge {% if not env.ENABLE_LOGGER == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-pill">{% if not env.ENABLE_LOGGER == 'True' %}OFF{% else %}ON{% endif %}</span>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">TIMEZONE - LANG</div>
                    <code>{{env.TIME_ZONE}} [{{env.LANGUAGE_CODE}}]</code>
                </div>                
            </li>
            
        </ul>
    </div>
</div>
