<div class="">
    <div class="dropdown-menu d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden">  
        <ul class="list-unstyled mb-0">
            <li class='text-center fw-bold text-primary mt-3'>SERVICES ENABLED</li>
            <hr />
            
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url 'test:config_detail' 'default' %}">
                <span class="d-inline-block bg-success rounded-circle p-1"></span>
                DEFAULTS
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url 'test:config_detail' 'smtp' %}">
                <span class="d-inline-block {% if env.ENABLE_SMTP == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-circle p-1"></span>
                SMTP
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url 'test:config_detail' 'sms' %}">
                <span class="d-inline-block {% if env.ENABLE_SMS_GATEWAY == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-circle p-1"></span>
                SMS
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url 'test:config_detail' 'database' %}">
                <span class="d-inline-block {% if env.ENABLE_DB == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-circle p-1"></span>
                DATABASE
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url 'test:config_detail' 'mongo' %}">
                <span class="d-inline-block {% if env.ENABLE_MONGO_ENGINE == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-circle p-1"></span>
                MONGO DB
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url 'test:config_detail' 'asgi' %}">
                <span class="d-inline-block {% if env.USE_ASGI_MODE == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-circle p-1"></span>
                ASGI MODE / SOCKET
            </a></li> 
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url 'test:config_detail' 'redis' %}">
                <span class="d-inline-block {% if env.ENABLE_REDIS == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-circle p-1"></span>
                REDIS
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url 'test:config_detail' 'drf' %}">
                <span class="d-inline-block {% if env.ENABLE_DRF == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-circle p-1"></span>
                DRF / JWT
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url 'test:config_detail' 'swagger' %}">
                <span class="d-inline-block {% if env.ENABLE_SWAGGER == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-circle p-1"></span>
                SWAGGER UI
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url 'test:config_detail' 'storage' %}">
                <span class="d-inline-block {% if env.ENABLE_AWS_S3_STORAGE == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-circle p-1"></span>
                Storage (S3)
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url 'test:config_detail' 'crons' %}">
                <span class="d-inline-block {% if env.ENABLE_CRON_JOBS == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-circle p-1"></span>
                CRON JOBS
            </a></li>
                                   
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url 'test:config_detail' 'celery' %}">
                <span class="d-inline-block {% if env.ENABLE_CELERY == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-circle p-1"></span>
                CELERY
            </a></li>
        </ul>
    </div>
</div>