{% extends 'test_base.html' %}

{% block title %}{{slug|upper}} Config{% endblock title %}
    
{% block content %}

<h1 class='display-6 text-center text-danger mb-3'>Super Mode</h1>

<div class='container-fluid'>

    <div class=row>
        
        <div class='col-md-2 col-12'>
            {% include 'app_test/components/home/service_enabled.html' %}
        </div>
        <div class='col-md-10 col-12'>
            {% if slug == 'sms' %}
                {% include 'app_test/components/credentials/sms.html' %}
            {% elif slug == 'default' %}
                {% include 'app_test/components/credentials/default.html' %}
            {% elif slug == 'smtp' %}
                {% include 'app_test/components/credentials/smtp.html' %}
            {% elif slug == 'database' %}
                {% include 'app_test/components/credentials/database.html' %}
            {% elif slug == 'redis' %}
                {% include 'app_test/components/credentials/redis.html' %}
            {% elif slug == 'mongo' %}
                {% include 'app_test/components/credentials/mongo.html' %}
            {% elif slug == 'drf' %}
                {% include 'app_test/components/credentials/drf.html' %}
            {% elif slug == 'storage' %}
                {% include 'app_test/components/credentials/storage.html' %}
            {% elif slug == 'crons' %}
                {% include 'app_test/components/credentials/crons.html' %}
            {% endif %}
        </div>
    </div>

</div>
{% endblock content %}