{% extends 'test_base.html' %}

{% block title %}System Information{% endblock title %}
    
{% block content %}

<h1 class='display-5'>System Information! </h1>
<p class='display-6 fw-bold text-primary'>IP: {{system.ip}}</p>
<p>{{company.project_title}} - {{company.name}} <span class="badge bg-primary">{{version}}</span></p>

<div class="bg-light mt-2 text-dark mb-2 rounded">
    <div class="d-flex justify-content-between align-items-center">
        <div class="p-3 bg-info text-white rounded-start">
            <span class="fw-bold">CPU:</span> {{system.cpu}}%
        </div>
        
        <div class="p-3 bg-primary text-white rounded-end">
            <span class="fw-bold">RAM:</span>  {{system.ram}}%
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">OS</div>
                    {{system.os}} {{system.os_release}} <br />
                    <code>Version: {{system.os_version}}</code>
                </div>                
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">Storage</div>
                    <code>{{system.storage}}</code>
                </div>                
            </li>
            
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">Ram:</div>
                    <code>{{system.ram_used_gb}} / {{system.memory_total}} GB - <span class='fw-bold text-success'> Available: {{system.memory_available}}% ({{system.memory_available_gb}} GB)</span>  </code>
                </div>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">Machine Info:</div>
                    <code>{{system.os_processor}} - {{system.os_machine}} - {{system.os_architecture}}</code>
                </div>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">Boot Time</div>
                    <code>{{system.last_boot}}</code>
                </div>
            </li>
        </ul>
    </div>
</div>

<script>
    // Refresh the page every second
    setInterval(function() {
        location.reload();
    }, 2000); // 1000 milliseconds = 1 second
</script>
{% endblock content %}