{% extends 'base.html' %}

{% block title %}Websocket Test Monitor{% endblock title %}

{% block content %}
<style>
    .console{
        display: none;
    }
</style>
<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
			<h3 class='display-6'>Websocket Monitor <code><small>({{group_name}})</small></code></h3>
			{% if user.is_staff %}
            <div class="d-flex justify-content-between">
                <div class='col-2'>
                    
                    {% if group_name %}
                    <a href="javascript:WebSocketTest()" class='btn btn-danger mt-2 ping_block'>Connect Socket</a>
                    <a href="javascript:ClearScreen()" class='btn btn-secondary mt-2 console'>Clear Console</a>
                    {% endif %}
                </div>
                <div>
                    <form action="{% url 'test:websocket_json' %}">
                        <div class="d-flex justify-content-end gap-2">
                            <input type="text" class="form-control" placeholder='Group Name' name='token' value="{{group_name}}" />
                            <input type="text" class="form-control" placeholder='User Name' name='user' value="{{user_name}}" />
                        </div>

                        
                    </form>
                </div>
            </div>

            
			{% else %}
				<code>You do not have permission!</code>
			{% endif %}
		</div>
		<div id="#logs" class="col-md-12 p-3 mb-2 bg-dark text-white rounded-1 mt-3 console">
			<h5 class='text-center'>Console Window</h5>
			<hr>
		</div>
	</div> 

	</div>
</div>

<script type="text/javascript">
	const uniqId = 'User' + Math.floor(Math.random() * 100)
    const ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
	document.getElementById("#logs").innerHTML += `<p class="text-secondary">Code: <strong>${uniqId}</strong></p>`;

    function ClearScreen() {
        document.getElementById("#logs").innerHTML = `<h5 class='text-center'>Console Window</h5>`;
	    document.getElementById("#logs").innerHTML += `<hr>`;
        document.getElementById("#logs").innerHTML += `<p class="text-secondary">Code: <strong>${uniqId}</strong></p>`;
    }

	function WebSocketTest() {
        const group_name = '{{group_name}}'
        const label = '{{user.account_name}}'
        const username = '{{user_name}}'
		if ("WebSocket" in window) {
			//alert("WebSocket is supported by your Browser!");
			// document.getElementById("#logs").innerHTML += `<p class="text-secondary">WebSocket is supported by your Browser!</p>`;
			// Let us open a web socket
            const socket_url = ws_scheme + "://" + window.location.host + "/ws/v1/coordinates" + "?Token="+group_name+"&User="+username+"&Source=django"+"&Label="+label;
            // console.log(socket_url)
            const ws = new WebSocket(socket_url);

			ws.onopen = function () {
				// Web Socket is connected, send data using send()		
                const group_name = '{{group_name}}'
                document.querySelectorAll('.console').forEach(function(el) {
                    el.style.display = 'block';
                });
                document.querySelectorAll('.ping_block').forEach(function(el) {
                    el.style.display = 'none';
                });		
                const jsonData = {
                    group_name: group_name,
                    timestamp: new Date().toISOString()
                };
                ws.send(JSON.stringify(jsonData));

				//alert("Message is sent...");
				document.getElementById("#logs").innerHTML += `<p><div class="badge bg-primary text-wrap" style="width: 6rem;">Connected</div> Request has sent...</p>`;
			};

			ws.onmessage = function (evt) {
				const received_msg = evt.data;
				document.getElementById("#logs").innerHTML += `<p><div class="badge bg-success text-wrap" style="width: 6rem;">Received</div> ${received_msg}</p>`;

			};

			ws.onclose = function () {
				// websocket is closed.
                document.getElementById("#logs").innerHTML += `<p><div class="badge bg-danger text-wrap" style="width: 6rem;">Closed</div> Connection has closed...</p>`;

                setTimeout(function () {
                    alert('Socket connection was lost!')
                    document.querySelectorAll('.console').forEach(function(el) {
                        el.style.display = 'none';
                    });
                    document.querySelectorAll('.ping_block').forEach(function(el) {
                        el.style.display = 'block';
                    });
                }, 1000);  // After 1 Sec               
			};
		} else {
			// The browser doesn't support WebSocket
			document.getElementById("#logs").innerHTML += `<p class="text-warning">WebSocket NOT supported by your Browser!</p>`;
		}
	}
</script>

{% endblock content %}