{% load static %}
{% load custom_filters %}
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">STATUS</div>
                </div>
                <span class="badge {% if env.ENABLE_CELERY == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-pill">{% if env.ENABLE_CELERY == 'True' %}ON{% else %}OFF{% endif %}</span>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">ENABLE_CELERY_BEAT</div>
                    <code>{{ env.ENABLE_CELERY_BEAT }}</code>
                </div>           
            </li>
            
        </ul>
        
        {% if env.USE_ASGI_MODE == 'True' and not hide_btn %}
            <a href="{% url 'test:celery' %}" class="btn btn-danger btn-sm mt-2">Test Celery!</a>
        {% endif %}

    </div>
</div>
