{% load static %}
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">STATUS</div>
                    <span class='{% if env.ENABLE_CRON_JOBS == "True" %}text-success{% else %}text-danger{% endif %} fw-bold'>{{env.ENABLE_CRON_JOBS}}</span>
                </div>
                <span class="badge {% if env.ENABLE_CRON_JOBS == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-pill">{% if env.ENABLE_CRON_JOBS == 'True' %}ON{% else %}OFF{% endif %}</span>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >   
                <div class="me-auto">
                    <div class="fw-bold">CRONJOBS</div>
                    {% for values in cron.CRONJOBS  %}
                        <code >{{values}}</code> <br/>
                    {% endfor %}
                    {% comment %} <code>{{cron.CRONJOBS}}</code> {% endcomment %}
                </div>                
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >   
                <div class="me-auto">
                    <div class="fw-bold">ALLOW_PARALLEL_RUNS</div>
                    <code>{{cron.ALLOW_PARALLEL_RUNS}}</code>
                </div>                
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >   
                <div class="me-auto">
                    <div class="fw-bold">DJANGO_CRON_CACHE</div>
                    <code>{{cron.DJANGO_CRON_CACHE}}</code>
                </div>                
            </li>
        </ul>
    </div>
</div>
