{% load static %}
<div class="card">
    <div class="card-body">
        <p class='text-success'>{% if env.ENABLE_DB == 'False' %}Currently using SQLite!{% endif %}</p>
        <ul class="list-group">
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">DB_TYPE</div>
                    <code>{{env.DB_TYPE}}</code>
                </div>                
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">DB_HOST</div>
                    <code>{{env.DB_HOST}}</code>
                </div>                
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">DB_NAME</div>
                    <code>{{env.DB_NAME}}</code>
                </div>                
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">DB_USER</div>
                    <code>{{env.DB_USER}}</code>
                </div>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">DB_PASSWORD</div>
                    <code>###{{env.DB_PASSWORD|truncatechars:10}}</code>
                </div>
            </li>
            
        </ul>
    </div>
</div>
