{% load static %}
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">SECRET_KEY</div>
                    <code>{{env.SECRET_KEY|truncatechars:35}}</code>
                </div>                
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">ALLOWED HOSTS</div>
                    <code>{{env.ALLOWED_HOSTS}}</code>
                </div>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">CORS_ALLOWED_ORIGINS</div>
                    <code>{{env.CORS_ALLOWED_ORIGINS}}</code>
                </div>
            </li>
        </ul>
    </div>
</div>
