{% load static %}
{% load custom_filters %}
<div class="card">
    <div class="card-body">
        <p class='text-danger'>{% if env.ENABLE_DRF == 'False' %}Deactivated{% endif %}</p>
        <ul class="list-group">
            <li
                class="list-group-item d-flex justify-content-center align-items-center"
            >
                <div class="fw-bold text-primary">DRF</div> 
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">DEFAULT_THROTTLE_RATES</div>
                    <code>{{ drf.REST_FRAMEWORK.DEFAULT_THROTTLE_RATES }}</code>
                </div>           
                       
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">NON_FIELD_ERRORS_KEY</div>
                    <code>{{ drf.REST_FRAMEWORK.NON_FIELD_ERRORS_KEY }}</code>
                </div>         
                       
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">DEFAULT_FILTER_BACKENDS</div>
                    <code>{{ drf.REST_FRAMEWORK.DEFAULT_FILTER_BACKENDS }}</code>
                </div>         
                       
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">EXCEPTION_HANDLER</div>
                    <code>{{ drf.REST_FRAMEWORK.EXCEPTION_HANDLER }}</code>
                </div>         
                       
            </li>
            <li
                class="list-group-item d-flex justify-content-center align-items-center"
            >
                <div class="fw-bold text-primary">CORS</div> 
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">CORS_ALLOWED_ORIGINS</div>
                    <code>{{ env.CORS_ALLOWED_ORIGINS }}</code>
                </div>           
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">CORS_ALLOW_ALL_ORIGINS</div>
                    <code>{% if env.ENV_NAME == 'prod' %} True{% else %}False{% endif %}</code>
                </div>           
            </li>

            <li
                class="list-group-item d-flex justify-content-center align-items-center"
            >
                <div class="fw-bold text-primary">SIMPLE JWT</div> 
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">ACCESS_TOKEN_LIFETIME</div>
                    <code>{{ drf.SIMPLE_JWT.ACCESS_TOKEN_LIFETIME }}</code>
                </div>           
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">REFRESH_TOKEN_LIFETIME</div>
                    <code>{{ drf.SIMPLE_JWT.REFRESH_TOKEN_LIFETIME }}</code>
                </div>           
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">ROTATE_REFRESH_TOKENS</div>
                    <code>{{ drf.SIMPLE_JWT.ROTATE_REFRESH_TOKENS }}</code>
                </div>           
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">BLACKLIST_AFTER_ROTATION</div>
                    <code>{{ drf.SIMPLE_JWT.BLACKLIST_AFTER_ROTATION }}</code>
                </div>           
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">ALGORITHM</div>
                    <code>{{ drf.SIMPLE_JWT.ALGORITHM }}</code>
                </div>           
            </li>
            
        </ul>
    </div>
</div>
