{% load static %}
{% load custom_filters %}
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">MONGODB_CONNECTION_STRING</div>
                    <code>{{ env.MONGODB_CONNECTION_STRING | hide_mongo_password }}</code>
                </div>      
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">Database Name</div>
                    <code>{{ env.MONGODB_CONNECTION_STRING | hide_mongo_password:'database_name' }}</code>
                </div>           
            </li>
            
        </ul>
    </div>
</div>
