{% load static %}
{% load custom_filters %}
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            {% if hide_btn %}
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">STATUS</div>
                    <span class='{% if mongo.success %}text-success{% else %}text-danger{% endif %} fw-bold'>{{mongo.detail}}</span>
                </div>
                <span class="badge {% if mongo.success %}bg-success{% else %}bg-danger{% endif %} rounded-pill">{% if mongo.success %}{{mongo.version}}{% else %}OFF{% endif %}</span>
            </li>
            {% endif %}
            {% if mongo.success %}
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">COLLECTIONS</div>
                    <code>{{ mongo.collections }}</code>
                </div>      
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">DATABASES</div>
                    <code>{{ mongo.databases }}</code>
                </div>      
            </li>
            {% endif %}
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">CURRENT DATABASE</div>
                    <code>{{ env.MONGODB_CONNECTION_STRING | hide_mongo_password:'database_name' }}</code>
                </div>           
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">MONGODB_CONNECTION_STRING</div>
                    <code>{{ env.MONGODB_CONNECTION_STRING | hide_mongo_password }}</code>
                </div>      
            </li>            
        </ul>
        
        {% if env.ENABLE_MONGO_ENGINE == 'True' and not hide_btn %}
            <a href="{% url 'test:mongo_test' %}" class="btn btn-danger btn-sm mt-2">Test Connection!</a>
        {% endif %}
    </div>
</div>
