{% load static %}
{% load custom_filters %}
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">REDIS_HOST</div>
                    <small>Required for Django Cache.</small> <br>
                    <code>{{ env.REDIS_HOST }}</code>
                </div>   
                <span class="badge {% if env.ENABLE_REDIS == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-pill">{% if env.ENABLE_REDIS == 'True' %}ON{% else %}OFF{% endif %}</span>   
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">REDIS CHANNEL LAYER</div>
                    <small>Required for Django Channels.</small>
                </div>
                <span class="badge {% if env.REDIS_CHANNEL_LAYER == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-pill">{% if env.REDIS_CHANNEL_LAYER == 'True' %}ON{% else %}OFF{% endif %}</span>
            </li>
            
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">REDIS_PORT</div>
                    <code>{{ env.REDIS_PORT }}</code>
                </div>           
            </li>
            
        </ul>
    </div>
</div>
