{% load static %}
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">ENABLE_SMS_GATEWAY</div>
                    <code>{{env.ENABLE_SMS_GATEWAY}}</code>
                </div>                
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">SMS_GATEWAY_HOST</div>
                    <code>{{env.SMS_GATEWAY_HOST}}</code>
                </div>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">SMS_GATEWAY_API_KEY</div>
                    <code>{{env.SMS_GATEWAY_API_KEY}}</code>
                </div>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">SMS_GATEWAY_SENDER_ID</div>
                    <code>{{env.SMS_GATEWAY_SENDER_ID}}</code>
                </div>
            </li>
        </ul>
    </div>
</div>
