{% load static %}
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">EMAIL_HOST</div>
                    <code>{{env.EMAIL_HOST|truncatechars:50}}</code>
                </div>                
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">EMAIL_HOST_USER</div>
                    <code>{{env.EMAIL_HOST_USER}}</code>
                </div>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">EMAIL_HOST_PASSWORD</div>
                    <code>###{{env.EMAIL_HOST_PASSWORD|truncatechars:10}}</code>
                </div>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">EMAIL_USE_TLS</div>
                    <code>{{env.EMAIL_USE_TLS}}</code>
                </div>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">EMAIL_PORT</div>
                    <code>{{env.EMAIL_PORT}}</code>
                </div>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">DEFAULT_FROM_EMAIL</div>
                    <code>{{env.DEFAULT_FROM_EMAIL}}</code>
                </div>
            </li>
        </ul>
        {% if env.ENABLE_SMTP == 'True' and not hide_btn %}
            <a href="{% url 'test:email' %}" class="btn btn-danger btn-sm mt-2">Test SMTP!</a>
        {% endif %}
    </div>
</div>
