{% load static %}
{% load custom_filters %}
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">STATUS</div>
                    <span class='{% if storage.success %}text-success{% else %}text-danger{% endif %} fw-bold'>{{storage.detail}}</span>
                </div>
                <span class="badge {% if env.ENABLE_AWS_S3_STORAGE == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-pill">{% if env.ENABLE_AWS_S3_STORAGE == 'True' %}ON{% else %}OFF{% endif %}</span>
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">AWS_ACCESS_KEY_ID</div>
                    <code>{{ env.AWS_ACCESS_KEY_ID }}</code>
                </div>           
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">AWS_SECRET_ACCESS_KEY</div>
                    <code>{{ env.AWS_SECRET_ACCESS_KEY }}</code>
                </div>           
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">BUCKET_NAME</div>
                    <code>{{ env.AWS_S3_STORAGE_BUCKET_NAME }}</code>
                </div>           
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">REGION_NAME</div>
                    <code>{{ env.AWS_S3_REGION_NAME }}</code>
                </div>           
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">CUSTOM_DOMAIN</div>
                    <code>{{ env.AWS_S3_CUSTOM_DOMAIN }}</code>
                </div>           
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">DEFAULT_FILE_UPLOAD_DIR</div>
                    <code>{% if env.DEFAULT_FILE_UPLOAD_DIR %}{{ env.DEFAULT_FILE_UPLOAD_DIR }} {% else %}ROOT{% endif %}</code>
                </div>           
            </li>
                    
        </ul>
        
        {% if env.ENABLE_AWS_S3_STORAGE == 'True' and not hide_btn %}
            <a href="{% url 'test:storage' %}" class="btn btn-danger btn-sm mt-2">Test Storage!</a>
        {% endif %}
    </div>
</div>
