{% load static %}
{% load custom_filters %}
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">STATUS</div>
                </div>
                <span class="badge {% if env.ENABLE_SWAGGER == 'True' %}bg-success{% else %}bg-danger{% endif %} rounded-pill">{% if env.ENABLE_SWAGGER == 'True' %}ON{% else %}OFF{% endif %}</span>
            </li>
            
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
            >
                <div class="me-auto">
                    <div class="fw-bold">SWAGGER URLs</div>
                    {% for values in swagger.SWAGGER_URLS  %}
                        <code >{{values}}</code> <br/>
                    {% endfor %}
                </div>           
            </li>
            
            
        </ul>
        
        {% if env.ENABLE_SWAGGER == 'True' and not hide_btn %}
            <a href="{% url 'schema-swagger-ui' %}" class="btn btn-info btn-sm mt-2" target="_blank">Test Swagger!</a>
        {% endif %}

    </div>
</div>
